.large-container {
    width: 98%; /* Similar width to the navbar */
    height: 40%;
    padding: 2% ; /* More padding for a larger container */
    margin: 5% auto; /* Center the container with margin */
    background-color: white;
    border-radius: 20px; /* Same rounded corners as the navbar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Same shadow as the navbar */
    text-align: center;
    transition: top 0.3s;
  }
  
  /* .large-container h1 {
    margin-bottom: 0%;
  }
  
  .large-container p {
    margin: 0;
  } */
  .product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-color: aqua; */
  }
  